#awards {
    height: 70vh;
    width: 100vw;
}

.link-box {
    text-decoration: none;
}

.section__awards {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    row-gap: 1.5rem;
    /* margin-top: 3rem; */
}

.section__awards-title {
    margin-top: 2rem;
}

.section__awards-title h1 {
    font-family: var(--fonte-secundaria);
    color: var(--cor-detalhes);
    font-weight: 700;
    font-size: 6rem;
}

.section__awards-items {
    height: 40vh;
    width: 20vw;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-detalhes);
    cursor: pointer;

}

.section__awards-items h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-fundo-primario);
}

.section__awards-items img {
    height: 10vh;
}

.section__awards-items {
    background-color: var(--cor-detalhes);
    color: var(--cor-letra);
    transition: background-color 0.3s, color 0.3s;
}

.section__awards-items:hover {
    background-color: var(--cor-fundo-primario);
    color: var(--cor-letra);
    box-shadow: 0px 0px 10px 2px var(--cor-letra);
} 

.section__awards-items:hover h2, .section__awards-items:hover img {
    color: var(--cor-letra);
}

.section__awards-items:hover img {
    filter: invert(100%);
}

.section__awards-aviso {
    margin-top: 1rem;
}

.section__awards-aviso h2 {
    color: var(--cor-detalhes);
    font-weight: 700;
}


.section__awards-options {
    /* background-color: aqua; */
    display: flex;
    column-gap: 5rem;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

@media screen and (max-width: 1055px) {

    #awards {
        height: 120vh;
    }
    .section__awards-options {
        column-gap: 1rem;
        flex-wrap: wrap;
        /* flex-direction: column; */
        row-gap: 1rem;
    }

    .section__awards-items {
        width: 40vw;
    }
}

@media screen and (max-width: 600px) {

    #awards {
        height: 150vh;
    }

    .section__awards-title h1 {
        font-size: 5rem;
    }

    .section__awards-options {
        /* flex-wrap: wrap; */
        flex-direction: column;
    }

    .section__awards-items {
        width: 60vw;
    }

}

@media screen and (max-width: 450px) {
    .section__awards-title h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 400px) {
    .section__awards-items {
        height: 30vh;
    }

} 